body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h1 {
  padding: .77rem 0;
  background-color: #010c3f;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: #fff;
  margin: 0;
}

h1 .highlight {
  color: #ffde59;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
  border-bottom: 1px solid #6f6f6f;
  padding-bottom: 0.4rem;
}

.App {
  height: 100%;
  padding: 0 17% 10% 17%;
  background-image: linear-gradient(to right top, #6c41ec, #f400b2, #ff4e73, #ff9d4a, #ffde59);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}
